.our_team {
    padding: 0px;
}
.team_content {
    text-align: center;
    margin-bottom: 50px;
}

.team_item {
    width: 25%;
    background: var(--team-card-bg);
    border-radius: 5px;
}

.team_img{
    width: 100%;
    height: 200px;
    align-items: center;
    border-radius:5px;
    background: #fff;
    overflow: hidden;
    padding: 10px;
}

.team_img img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    transform: scale(1);
}

.team_details{
    color: var(--primary-color);
    padding: 10px;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.team_member-social{
    display: flex;
    align-items: center;
    /* bottom: 1px; */
    column-gap: 1rem;
    margin-top: 10px;
}

.team_member-social span i {
    padding: 5px;
    background: var(--icon-bg);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.team_wrapper {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

@media only screen and (max-width:768px){
    .team_item{
        width: 30%;
        margin-bottom: 30px;
    }
    .team_wrapper{
        flex-wrap: wrap;
    }
    .team_content h2{
        font-size: 1.5rem;

    }
    .team_details h4{
        font-size: 1rem;

    }
    .team_details p {
        font-size: 0.8px;
    }
}
@media only screen and (max-width:576px){
    .team_item{
        width: 100%;
        /* align-items: center; */
    }
}